:root {
  --primary-color: #2D2DA3;
  --component-background: #ffffff;
  --text-color: rgba(0, 0, 0, 0.85);
}
.gant-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  background: var(--component-background);
}
.gant-toolbar:after {
  display: block;
  clear: both;
  content: '';
}
.gant-toolbar-left {
  float: left;
}
.gant-toolbar-left button {
  margin-right: 10px;
}
.gant-toolbar-right {
  float: right;
}
.gant-toolbar-right button {
  margin-left: 10px;
}
.gant-toolbar-space {
  flex: auto;
  height: 1px;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  -webkit-box-flex: 1;
}
.gant-toolbar-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9;
  border-top: 1px solid rgba(128, 128, 128, 0.1);
  box-shadow: 0 -1px 2px rgba(128, 128, 128, 0.03);
}

:root {
  --primary-color: #2D2DA3;
  --component-background: #ffffff;
  --text-color: rgba(0, 0, 0, 0.85);
}
.gant-header {
  width: 100%;
  min-height: 30px;
  position: relative;
}
.gant-header-container {
  display: flex;
  justify-content: space-between;
}
.gant-header:after {
  content: '';
  width: 100%;
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.gant-header-wrapper {
  display: flex;
  align-items: center;
  flex-flow: row;
  flex-wrap: nowrap;
}
.gant-header-menu > * {
  margin: 0px 5px;
}
.gant-header-title {
  color: var(--text-color);
  font-size: 13px;
  line-height: 30px;
  min-height: 30px;
  margin-left: 3px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  white-space: nowrap;
}
.gant-header-line {
  width: 3px;
  height: 15px;
  background: var(--text-color);
  display: inline-block;
  vertical-align: middle;
}
.gant-header-num {
  font-size: 12px;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 16px;
  background: var(--text-color);
  min-width: 16px;
  color: var(--component-background);
  text-align: center;
  line-height: 16px;
  border-radius: 3px;
}
.gant-header-beforeExtra {
  float: left;
}
.gant-header-beforeExtra > * {
  margin: 5px;
}
.gant-overflow-tool-outer {
  position: relative;
  flex: 1;
  align-self: center;
}
.gant-overflow-tool-outer .gant-overflow-tool-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.gant-overflow-tool-outer .gant-overflow-tool-inner > * {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0px;
}
.gant-overflow-tool-outer .gant-overflow-tool-inner .gant-header-extra {
  overflow: hidden;
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.gant-overflow-tool-outer .gant-overflow-tool-inner .gant-header-extra-tools {
  display: flex;
  align-items: center;
}
.gant-overflow-tool-outer .gant-overflow-tool-inner .gant-header-extra-tools > * {
  margin-right: 5px;
}
.gant-overflow-tool-outer .gant-overflow-tool-inner .gant-header-extra-tools-icon {
  display: inline-block;
  color: var(--text-color);
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}
.gant-overflow-tool-outer .gant-overflow-tool-inner .gant-header-extra-fixed {
  opacity: 0;
  position: fixed;
  transform: translateY(-10000px);
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}
.gant-header-icon {
  text-align: center;
  display: flex;
  justify-content: center;
}

:root {
  --primary-color: #2D2DA3;
  --component-background: #ffffff;
  --text-color: rgba(0, 0, 0, 0.85);
}
.ant-tooltip-inner {
  min-height: 20px !important;
}
.ant-popover-inner-content {
  padding: 10px !important;
}
.ant-tooltip {
  font-size: 12px !important;
  line-height: 1 !important;
}
.ant-anchor {
  font-size: 12px !important;
}
.ant-anchor-wrapper {
  background-color: transparent !important;
}
.gant-anchor {
  box-sizing: border-box;
  height: 40px;
  background: #fff;
  border-bottom: 1px solid rgba(126, 126, 126, 0.3);
  width: 100%;
  font-size: 12px;
  z-index: 1;
}
.gant-anchor-silderCss {
  width: calc(100% - 160px);
  height: 100%;
  overflow: hidden;
  float: left;
  display: block;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.gant-anchor-contentCss {
  width: auto;
  position: absolute;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  height: auto;
  height: 100%;
}
.gant-anchor-isInvalid {
  width: auto;
  height: 100%;
  line-height: 37px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
  padding-right: 20px;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  cursor: not-allowed;
  opacity: 0.6;
}
.gant-anchor-aCss {
  width: auto;
  height: 100%;
  line-height: 37px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
  padding-right: 20px;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
.gant-anchor-aCss :hover {
  color: #1890FF;
}
.gant-anchor-aCss span {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: inline-block;
}
.gant-anchor-activeCss {
  color: #1890FF;
  border-bottom: 3px solid #1890FF;
  height: 39px;
}
.gant-anchor-aCss:last-child {
  /*最后一个 class为aCss 的元素*/
  padding-right: 0;
}
.gant-anchor-iconCss {
  display: inline-block;
  width: 40px;
  line-height: 40px !important;
}
.gant-anchor-iconCss :hover {
  cursor: pointer;
}
.gant-anchor-activeScroll {
  position: fixed;
  -webkit-transform: translateZ(0);
}
.gant-anchor-horAnchorOut {
  width: 100%;
  height: 40px;
}
.gant-anchor-horAnchorOut__hidden {
  display: none;
}
.gant-anchor-verticallayout {
  display: flex;
}
.gant-anchor-content > div {
  width: 100% !important;
}
.gant-anchor-wrapper:after {
  content: '';
  width: 100%;
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.gant-anchor-verticalbox__hidden {
  display: none;
}


/*# sourceMappingURL=tantd.css.map*/