:root {
  --primary-color: #2D2DA3;
  --component-background: #ffffff;
  --text-color: rgba(0, 0, 0, 0.85);
}
.gant-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  background: var(--component-background);
}
.gant-toolbar:after {
  display: block;
  clear: both;
  content: '';
}
.gant-toolbar-left {
  float: left;
}
.gant-toolbar-left button {
  margin-right: 10px;
}
.gant-toolbar-right {
  float: right;
}
.gant-toolbar-right button {
  margin-left: 10px;
}
.gant-toolbar-space {
  flex: auto;
  height: 1px;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  -webkit-box-flex: 1;
}
.gant-toolbar-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 9;
  border-top: 1px solid rgba(128, 128, 128, 0.1);
  box-shadow: 0 -1px 2px rgba(128, 128, 128, 0.03);
}

:root {
  --primary-color: #2D2DA3;
  --component-background: #ffffff;
  --text-color: rgba(0, 0, 0, 0.85);
}
.gant-header {
  width: 100%;
  min-height: 30px;
  position: relative;
}
.gant-header-container {
  display: flex;
  justify-content: space-between;
}
.gant-header:after {
  content: '';
  width: 100%;
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.gant-header-wrapper {
  display: flex;
  align-items: center;
  flex-flow: row;
  flex-wrap: nowrap;
}
.gant-header-menu > * {
  margin: 0px 5px;
}
.gant-header-title {
  color: var(--text-color);
  font-size: 13px;
  line-height: 30px;
  min-height: 30px;
  margin-left: 3px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  white-space: nowrap;
}
.gant-header-line {
  width: 3px;
  height: 15px;
  background: var(--text-color);
  display: inline-block;
  vertical-align: middle;
}
.gant-header-num {
  font-size: 12px;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 16px;
  background: var(--text-color);
  min-width: 16px;
  color: var(--component-background);
  text-align: center;
  line-height: 16px;
  border-radius: 3px;
}
.gant-header-beforeExtra {
  float: left;
}
.gant-header-beforeExtra > * {
  margin: 5px;
}
.gant-overflow-tool-outer {
  position: relative;
  flex: 1;
  align-self: center;
}
.gant-overflow-tool-outer .gant-overflow-tool-inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.gant-overflow-tool-outer .gant-overflow-tool-inner > * {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0px;
}
.gant-overflow-tool-outer .gant-overflow-tool-inner .gant-header-extra {
  overflow: hidden;
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.gant-overflow-tool-outer .gant-overflow-tool-inner .gant-header-extra-tools {
  display: flex;
  align-items: center;
}
.gant-overflow-tool-outer .gant-overflow-tool-inner .gant-header-extra-tools > * {
  margin-right: 5px;
}
.gant-overflow-tool-outer .gant-overflow-tool-inner .gant-header-extra-tools-icon {
  display: inline-block;
  color: var(--text-color);
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}
.gant-overflow-tool-outer .gant-overflow-tool-inner .gant-header-extra-fixed {
  opacity: 0;
  position: fixed;
  transform: translateY(-10000px);
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}
.gant-header-icon {
  text-align: center;
  display: flex;
  justify-content: center;
}

:root {
  --primary-color: #2D2DA3;
  --component-background: #ffffff;
  --text-color: rgba(0, 0, 0, 0.85);
}
.ant-tooltip-inner {
  min-height: 20px !important;
}
.ant-popover-inner-content {
  padding: 10px !important;
}
.ant-tooltip {
  font-size: 12px !important;
  line-height: 1 !important;
}
.ant-anchor {
  font-size: 12px !important;
}
.ant-anchor-wrapper {
  background-color: transparent !important;
}
.gant-anchor {
  box-sizing: border-box;
  height: 40px;
  background: #fff;
  border-bottom: 1px solid rgba(126, 126, 126, 0.3);
  width: 100%;
  font-size: 12px;
  z-index: 1;
}
.gant-anchor-silderCss {
  width: calc(100% - 160px);
  height: 100%;
  overflow: hidden;
  float: left;
  display: block;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.gant-anchor-contentCss {
  width: auto;
  position: absolute;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  height: auto;
  height: 100%;
}
.gant-anchor-isInvalid {
  width: auto;
  height: 100%;
  line-height: 37px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
  padding-right: 20px;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  cursor: not-allowed;
  opacity: 0.6;
}
.gant-anchor-aCss {
  width: auto;
  height: 100%;
  line-height: 37px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
  padding-right: 20px;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
.gant-anchor-aCss :hover {
  color: #1890FF;
}
.gant-anchor-aCss span {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: inline-block;
}
.gant-anchor-activeCss {
  color: #1890FF;
  border-bottom: 3px solid #1890FF;
  height: 39px;
}
.gant-anchor-aCss:last-child {
  /*最后一个 class为aCss 的元素*/
  padding-right: 0;
}
.gant-anchor-iconCss {
  display: inline-block;
  width: 40px;
  line-height: 40px !important;
}
.gant-anchor-iconCss :hover {
  cursor: pointer;
}
.gant-anchor-activeScroll {
  position: fixed;
  -webkit-transform: translateZ(0);
}
.gant-anchor-horAnchorOut {
  width: 100%;
  height: 40px;
}
.gant-anchor-horAnchorOut__hidden {
  display: none;
}
.gant-anchor-verticallayout {
  display: flex;
}
.gant-anchor-content > div {
  width: 100% !important;
}
.gant-anchor-wrapper:after {
  content: '';
  width: 100%;
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.gant-anchor-verticalbox__hidden {
  display: none;
}

:root {
  --primary-color: #2D2DA3;
  --component-background: #ffffff;
  --text-color: rgba(0, 0, 0, 0.85);
}
:root {
  --submenu-collapsed-width: 30px;
}
.gant-submenu {
  height: 100%;
  border-right: none !important;
}
.gant-submenu.ant-menu-inline-collapsed > .ant-menu-item .gant-input-wrapper + span {
  display: inline-block;
  max-width: 0;
  opacity: 0;
}
.gant-submenu.ant-menu-inline-collapsed {
  width: var(--submenu-collapsed-width);
}
.gant-submenu-collapsed.ant-menu-item-selected::after {
  opacity: 0;
}
.gant-submenu-collapsed > .anticon + span {
  display: inline-block;
  max-width: 0;
  opacity: 0;
}
.gant-submenu .ant-menu-item {
  margin: 0;
}
.gant-submenu .ant-menu-item .anticon + span {
  transition: opacity 0s;
}
.gant-submenu-collapsebtn {
  display: inline-block;
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.gant-submenu-collapsebtn span {
  cursor: pointer;
  line-height: var(--submenu-collapsed-width);
  height: var(--submenu-collapsed-width);
  width: var(--submenu-collapsed-width);
  float: right;
  padding-top: 3px;
}
.gant-submenu-pagewrap {
  border-radius: 3px;
  overflow: hidden;
}
.gant-submenu-pagewrap .ant-menu-inline-collapsed > .ant-menu-item {
  left: 0;
  text-overflow: clip;
  padding: unset !important;
  width: 100%;
  text-align: center;
}
.gant-submenu-pagewrap .ant-menu-vertical .ant-menu-item {
  margin: 0;
}
.gant-submenu-pagecard {
  overflow: hidden;
  flex: 1;
  transition: all 0.15s;
}
.gant-submenu-menuboxinline {
  border-right: 1px solid rgba(126, 126, 126, 0.3);
}
.gant-submenu-menuinternal {
  display: flex;
  width: 100%;
  border-bottom: none;
}
.gant-submenu-menuleft {
  width: calc(100% - 30px);
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.gant-submenu-menuright {
  width: 33px;
  height: 33px;
  line-height: 33px;
  border-left: 1px solid rgba(128, 128, 128, 0.2);
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  text-align: center;
}
.gant-submenu-horMenu {
  display: block;
  max-width: 100%;
}
.gant-submenu-horMenu .ant-menu-horizontal {
  line-height: 30px;
  border: none;
}
.gant-submenu-item-count {
  float: right;
  padding-left: 20px;
}
.gant-submenu-contextfooter {
  width: 100%;
  height: var(--submenu-collapsed-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(128, 128, 128, 0.1);
}
.gant-submenu-footerdiv {
  cursor: pointer;
  flex: 1;
  padding: 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: var(--submenu-collapsed-width);
}
.gant-submenu-fixed {
  position: fixed;
  z-index: 1;
  background: #fff;
  -webkit-transform: translateZ(0);
}
.gant-submenu-boxShow {
  box-shadow: 0 2px 3px rgba(125, 125, 125, 0.1);
}

:root {
  --primary-color: #2D2DA3;
  --component-background: #ffffff;
  --text-color: rgba(0, 0, 0, 0.85);
}
.selector .storageItemContent .deleteIcon {
  display: none;
}
.dropdown :global .ant-select-item-option-state {
  margin-left: 5px;
}
.dropdown .storageOption .storageItemContent {
  display: flex;
  align-items: center;
}
.dropdown .storageOption .storageItemContent .deleteIcon {
  opacity: 0;
  transition: opacity 0.3s;
}
.dropdown .storageOption:hover .storageItemContent .deleteIcon {
  opacity: 0.45;
}

:root {
  --modal-highlight-color: #f00;
  --modal-body-padding: 10px;
  --modal-footer-bg: transparent;
  --modal-footer-reset-color: #000000;
  --modal-footer-border-color-split: rgba(0, 0, 0, 0.45);
  --modal-mask-bg: rgba(0, 0, 0, 0.45);
  --modal-header-bg: #fff;
  --modal-header-color: rgba(0, 0, 0, 0.65);
  --modal-header-hover-color: #000000;
  --modal-header-icon-hover-color: #fff;
  --modal-header-danger-icon-bg: #f00;
  --modal-header-default-icon-bg: rgba(0, 0, 0, 0.3);
}
html .ant-modal-header {
  padding: 4px !important;
}
html .ant-modal-close-x {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
html .ant-modal-body {
  padding: 10px;
}
html .ant-modal-title {
  font-size: 14px;
  font-weight: bold;
}
html .ant-modal-confirm-body {
  padding-bottom: 30px;
}
html .ant-modal-confirm .ant-modal-confirm-btns {
  margin-top: 0px;
}
html .ant-modal-confirm .ant-modal-body {
  padding: 10px !important;
}
html .ant-modal-footer {
  padding: 3px;
}
.gant-modal-resizableModalDefault {
  pointer-events: none;
}
.gant-modal-resizableModalDialog {
  pointer-events: auto;
}
.gant-modal-resizableModalWrapper {
  overflow: hidden !important;
}
.gant-modal-resizableModalWrapper .ant-modal {
  display: flex;
  max-width: none;
}
.gant-modal-resizableModalWrapper .ant-modal-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.gant-modal-resizableModalWrapper .ant-modal-content .ant-modal-close {
  transition: none;
}
.gant-modal-resizableModalWrapper .ant-modal-content .ant-modal-close-x:hover {
  background-color: var(--modal-header-danger-icon-bg);
}
.gant-modal-resizableModalWrapper .ant-modal-content .ant-modal-close-x:hover i {
  color: var(--modal-header-icon-hover-color);
}
.gant-modal-resizableModalWrapper .ant-modal-content .ant-modal-close-x:active {
  background-color: var(--modal-highlight-color);
}
.gant-modal-resizableModalWrapper .ant-modal-content .ant-modal-close-x:active i {
  color: var(--modal-header-icon-hover-color);
}
.gant-modal-resizableModalWrapper .ant-modal-body {
  flex: 1;
  overflow-y: auto;
}
.gant-modal-resizableModalWrapper .gant-modal-resizableModalTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.gant-modal-resizableModalWrapper .gant-modal-canDrag {
  cursor: move;
}
.gant-modal-resizableModalWrapper .gant-modal-resizableModalContent {
  height: 100%;
}
.gant-modal-resizableModalWrapper .gant-modal-maximizeAnchor {
  right: 30px;
  width: 30px;
  top: 0;
  cursor: pointer;
  height: 30px;
  position: absolute;
}
.gant-modal-resizableModalWrapper .gant-modal-maximizeAnchor span {
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--modal-header-color);
}
.gant-modal-resizableModalWrapper .gant-modal-maximizeAnchor:hover {
  background-color: var(--modal-header-default-icon-bg);
}
.gant-modal-resizableModalWrapper .gant-modal-maximizeAnchor:hover i {
  color: var(--modal-header-icon-hover-color);
}
.gant-modal-resizableModalWrapper .gant-modal-resizeAnchor {
  right: -10px;
  width: 30px;
  bottom: -10px;
  cursor: se-resize;
  height: 30px;
  position: absolute;
}
.gant-modal-resizableModalWrapper .gant-modal-resizeAnchor i {
  opacity: 0;
  visibility: hidden;
  width: 12px;
  right: 14px;
  border: 2px solid transparent;
  height: 12px;
  bottom: 14px;
  position: absolute;
  border-top: 0;
  border-left: 0;
  transition: all 0.3s;
}
.gant-modal-resizableModalWrapper .gant-modal-resizeAnchor:hover i {
  opacity: 1;
  visibility: visible;
  border-color: var(--modal-footer-reset-color);
  transition: all 0.3s;
}
.gant-modal-maximize .ant-modal-content {
  border-radius: 0;
}


/*# sourceMappingURL=tantd.css.map*/