:root {
  --primary-color: #2d2da3;
  --primary-color-5: #40a9ff;
  --component-background: rgba(255, 255, 255, 1);
  --text-color: rgba(0, 0, 0, 0.85);
  --btn-default-color: rgba(0, 0, 0, 0.5);
  --btn-default-border-color: rgba(0, 0, 0, 0.2);
  --border-color-base: hsv(0, 0, 85%);
  --border-radius: 0px;
}
