@gant-prefix: gant;
@component: ~'@{gant-prefix}-modal';
@activeIconColor: var(--modal-header-icon-hover-color);
@barPadding: var(--modal-bar-padding);

// Modal
:root {
  --modal-bar-padding: 4px;
  --modal-body-padding: 10px;
  --modal-mask-bg: rgba(0, 0, 0, 0.45);
  --modal-footer-reset-color: rgba(0, 0, 0, 0.5);
  --modal-header-color: rgba(0, 0, 0, 0.65);
  --modal-header-hover-color: rgba(0, 0, 0, 1);
  --modal-header-icon-hover-color: #fff;
  --modal-header-close-icon-bg: #f00;
  --modal-header-default-icon-bg: rgba(0, 0, 0, 0.3);
}

html {
  .ant-modal-header {
    padding: @barPadding;
  }

  .ant-modal-close-x {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .ant-modal-body {
    padding: var(--modal-body-padding);
  }

  .ant-modal-title {
    font-size: 14px;
    font-weight: bold;
  }

  .ant-modal-confirm-body {
    padding-bottom: 30px;
  }

  .ant-modal-confirm {
    .ant-modal-confirm-btns {
      margin-top: 0px;
    }

    .ant-modal-body {
      padding: 10px;
    }
  }

  .ant-modal-footer {
    padding: @barPadding;
  }
}


.@{component} {
  &-resizableModalDefault {
    pointer-events: none;
  }

  &-resizableModalDialog {
    pointer-events: auto;
  }

  &-resizableModalWrapper {
    overflow: hidden;

    .ant-modal {
      display: flex;
      max-width: none;
      // transform-origin: 50% 50% !important;
    }

    .ant-modal-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    .ant-modal-body {
      flex: 1;
      overflow-y: auto;
    }

    .@{component}-resizableModalHeader {
      display: flex;
    }

    .@{component}-resizableModalTitle {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      min-height: 22px;
      flex: 1;
    }

    .@{component}-resizableHeaderActions {
      display: flex;
      position: absolute;
      right: 0;
      top: 0;

      div {
        width: 30px;
        cursor: pointer;
        height: 30px;
        position: relative;

        span {
          font-size: 16px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: var(--modal-header-color);
        }
      }
    }

    .@{component}-maximizeIcon {
      &:hover {
        background-color: var(--modal-header-default-icon-bg);
      }
    }

    .@{component}-closeIcon {
      &:hover {
        background-color: var(--modal-header-close-icon-bg);

        span {
          color: @activeIconColor;
        }
      }
    }

    .@{component}-canDrag {
      cursor: move;
    }

    .@{component}-resizableModalContent {
      height: 100%;
    }

    .@{component}-resizeAnchor {
      right: -12px;
      width: 30px;
      bottom: -12px;
      cursor: se-resize;
      height: 30px;
      position: absolute;

      i {
        opacity: 0;
        visibility: hidden;
        width: 12px;
        right: 14px;
        border: 2px solid transparent;
        height: 12px;
        bottom: 14px;
        position: absolute;
        border-top: 0;
        border-left: 0;
        transition: all 0.3s;
      }

      &:hover {
        i {
          opacity: 1;
          visibility: visible;
          border-color: var(--modal-footer-reset-color);
          transition: all 0.3s;
        }
      }
    }
  }

  &-maximize {
    .ant-modal-content {
      border-radius: 0;
    }
  }
}