@import '../../../../../style/index.less';

.cellWrap {
    :global {
        .ant-select {
            padding: 0px;
            line-height: normal;
        }

        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
            font-size: 14px;
            border: none;
            border-radius: 0px;
        }
    }
}


@import './generate.less';